body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.app-container {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-family: 'Cinzel', serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #e91e63;
}



.icons span {
  margin-left: 15px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 10px;
}

.grid-item {
  position: relative;
}

.grid-item img {
  width: 100%;
  height: auto;
  max-height: 950px; /* bu değeri isteğine göre azaltabilirsin */
  object-fit: cover;
  border-radius: 10px;
}



.label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgb(0, 0, 0);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}

.sub {
  font-size: 0.9rem;
  font-weight: bold;
  color: #a9a5a5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sub:hover {
  color: rgb(233, 226, 226);
  text-decoration: underline;
  letter-spacing: 1px;
}



.icons svg {
  font-size: 1.5rem;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icons svg:hover {
  transform: scale(1.2);
}




.menu {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: 'Cinzel', serif;
  font-weight: 500;
}

.menu a {
  text-decoration: none;
  color: #333;
  position: relative;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.menu a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: black;
  transition: width 0.3s ease;
}

.menu a:hover {
  color: #e91e63;
}

.menu a:hover::after {
  width: 100%;
}




.footer {
  background-color: #fffcfc;
  padding: 40px 20px 20px;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  color: #333;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}


.footer-section p, .footer-bottom p {
  font-size: 14px;
}



.footer-section  a {
  text-decoration: none;
  color: #333;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-icons a {
  margin-right: 10px;
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #e91e63; /* pembe ton — istersen değiştirebiliriz */
}

.footer-bottom {
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  color: #666;
}


.footer-section.social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 40px;
  
}


.home-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 2rem;
  border-radius: 10px;
}






